/* RESETS */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Root values */

:root {
    --line-length: 60ch;
    --page-padding-inline: calc((100vw - min(var(--line-length), 0vw)) / 2);
    --font-serif: 'Merriweather', serif;
    --font-sans: 'Fixel', system-ui, sans-serif;
    --font-grotesque: 'Fixel', 'FixelSemi', system-ui, sans-serif;
    --font-alt: "ss01";
    --font-mono: ui-monospace,, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    --pt-double-canon: 4.666em;
    --pt-canon: 3.999em;
    --pt-double-great-primer: 2.999em;
    --pt-double-pica: 2em;
    --pt-paragon: 1.666em;
    --pt-english: 1.166em;
    --pt-pica: 1em;
    --pt-small-pica: 0.916em;
    --pt-long-primer: 0.833em;
    --pt-bourgeois: 0.75em;
    --neutral-500: #1a1a1a;
    --neutral-300: #BBBBBB;
    --neutral-100: #FFFFFA;
    font-family: var(--font-sans);
    font-size: clamp(100%, 90% + 0.5vw, 150%);
    line-height: 1.475;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    color: var(--neutral-100);
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
nav > ul[role='list'],
nav > ol[role='list'] {
    list-style: none;
}

ul {
    padding-left: 0;
}

li {
    padding-bottom: 0.3rem;
}


html:focus-within {
    scroll-behavior: smooth;
}

html {
    background-color: var(--neutral-500);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Set core body defaults */
body {
    min-height: 100vh;
    max-width: 96%;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: var(--neutral-500);
    margin: 0 auto;
    font-size: var(--pt-small-pica);
}

main {
    display: grid;
    gap: 2rem;
    margin: 0 1rem;
}

@media (max-width: 450px) {
    body {
            font-size: var(--pt-english);
        }
}
    @media (min-width: 740px) {
        body {
            max-width: 720px;
        }
    }

