---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import ArticlesGrid from '../components/ArticlesGrid.astro';
import PolaroidCarousel from '../components/PolaroidCarousel.astro';
import BooksCarousel from '../components/BooksCarousel.astro';
---

<Layout title="Andrea Rapuzzi — CX Lead @Nestlé Waters">
  <main>
    <HeroSection />
    <ArticlesGrid />
    <PolaroidCarousel />
    <BooksCarousel />
  </main>
</Layout>
