---

---

<footer>
    <div class="line"></div>
    <div class="madeby">v0.01 | Made with love by Andrea Rapuzzi</div>
    <div class="madeby"><strong>email: </strong> <a href="mailto:andrea.rapuzzi@outlook.com">andrea.rapuzzi@outlook.com</a></div>

</footer>

<style>
    footer {
        color: var(--neutral-500);
        margin: 16px 16px;
        
    }

    .line {
        background: linear-gradient(
        90deg,
        #2B657A 0%,
        #4EA6A4 10%,
        #90D27F 20%,
        #EBD045 30%,
        #EE9636 40%,
        #EB6230 50%,
        #de4c3f 60%,
        #E188C1 70%,
        #7D62BD 80%,
        #5452B8 90%,
        #71B5E2 100%
    );
    background-blend-mode: lighten;
    min-height: 1px;
    margin-bottom: 16px;
    opacity: 0.8;
    }

    .madeby {
        font-size: var(--pt-small-pica);
        text-align: center;
    }

</style>