---

---

<footer>
    <div class="line"></div>
    <div class="madeby">v0.01 | Made with love by Andrea Rapuzzi</div>
</footer>

<style>
    footer {
        color: var(--neutral-300);
        padding: 8px 0;
    }

    .madeby {
        font-size: var(--pt-small-pica);
        text-align: center;
        margin: 16px;
        opacity: 0.8;

    }

</style>