---
import Navigation from "./Navigation.astro";
---
<header>
    <nav>
        <Navigation />
    </nav>
</header>

<style>
    header {
    display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    height: 10svh;
    width: 100%;
    position: sticky;
    top: -1px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}
</style>