---
import Navigation from "./Navigation.astro";
---
<header>
    <nav>
        <Navigation />
    </nav>
</header>

<style>
    header {
    display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    height: 10vh;
    position: sticky;
    top: -1px;
    background-color: rgba(32, 32, 32, 0.8);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(6px);
}
</style>