---

---
<div>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
</div>

<style>
    a {
        margin-left: 8px;
        text-align: end;
        padding: 4px 16px;
        border-radius: 0.1em;
        text-decoration: none;
        color: var(--primary-500);
}
    a:hover {
        background-color: var(--neutral-300);
        color: var(--neutral-500);
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-duration: 2000ms;
    }
</style>